<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-6">
            <img class="img-fluid" [src]="product.imageUrl" alt="furniture iteam">
        </div>

        <div class="col-12 col-sm-6 text-start">
            <h3 class="fw-bold mb-2">{{product.name}}</h3>
            <h4 class="my-3">{{product.unitPrice | currency}}</h4>
            <p class="my-4">{{product.description}}</p>
            <div class="input-group mt-4 row ">
                <div class="col-6">
                    <input class="form-control" type="number" name="" id="">
                </div>

                <div class="col-6">
                    <button (click)="addToCart()" class="btn btn-success btn-block" type="submit">Add to Cart</button>
                </div>
                
                
            </div>
            <p class="text-muted">SKU: {{product.sku}}</p>
        </div>

    </div>
</div>