h4{
    font-weight: bolder;
}

input[type=number]{
    box-sizing: border-box;
    width: 80px;
    border-width: 2px;
    border-color: black;
    /* margin: 0 100px ; */
}
input[type=number]:focus{
    /* outline-color: none !important; */
    box-shadow: none;
    /* margin: 0 100px ; */
}

