<div class="container py-3">

    <div class="row" *ngIf="itemsInCart.length > 0">

        <div class="col-md">
            <h3 class="fw-bold">Shopping Cart</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Products</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemsInCart">
                        <td>

                            <p class="fw-bold"><img class="img-fluid"
                                    src={{item.imageUrl}}
                                    alt="Product image" width="150">
                                {{item.name}}</p>

                        </td>
                        <td>
                            <p class="mt-5 fw-bold">{{item.unitPrice | currency: 'USD'}}</p>
                        </td>
                        <td>
                            <div class="mt-5">
                                <button (click)="decrementItemQuantity(item)" class="btn btn-light"><i class="bi bi-dash"></i></button> {{item.quantity}} <button
                                (click)="incrementQuantity(item)"
                                    class="btn btn-light"><i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <p class="mt-5 fw-bold">{{calculateItemQuantityTotal(item) | currency: 'USD'}}</p>
                        </td>
                        <td>
                            <div class="mt-5">
                                <button (click)="removeItemInCart(item)" class="btn btn-light"><i class="bi bi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-body">
                    <p class="fw-bold fs-5">Summary</p>
                    <div class="row">
                        <div class="col">
                            <p class="card-title text-muted">Quantity</p>
                            <p class="card-text text-muted">Shipping</p>
                        </div>
                        <div class="col text-end fw-bold">
                            <p>{{totalQuantity}}</p>
                            <p>Free</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="card-title text-muted">Total</p>
                        </div>
                        <div class="col text-end fw-bold fs-5">
                            <p>{{totalPrice | currency: 'USD'}}</p>
                        </div>
                    </div>
                    
                    <div >
                        <a routerLink="/checkout" routerLinkActive="router-link-active" class="btn btn-success ">Checkout</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" *ngIf="itemsInCart.length == 0">
        <div class="center ">
            <img width="50%" src="/assets/images/empty-cart.png" alt="A Carrot being pulled out">
            <h3 >Your cart is empty.</h3>
            <a routerLink="/shop" routerLinkActive="router-link-active" class="btn btn-outline-success">Go Shopping</a>
        </div>
    </div>

</div>