  <!--New navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/home"><img src="../../assets/images/logo.svg" alt="logo"></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink ="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="'.'" tabindex="-1" aria-disabled="true">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="'.'" tabindex="-1" aria-disabled="true">About Us</a>
          </li>
        </ul>
        <!--cutout-->
          <app-search></app-search>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" routerLink ="/login">Login</a>
              </li>
              <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" routerLink ="/login" (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
            
        
      <!--End of cuttout-->
      </div>
    </div>
  </nav>

  <!--Testing navbar-->
  <div class="container">
    <div class="col-md-10 col-sm-9 col-xs-12">
        <p class="icon-menu-mobile"><i class="fa fa-bars"></i></p>
        <div class="logo"><a href="#" title="Futurelife">Futurelife</a></div>
        <nav class="menu-top">
            <ul>
                <li class="level-1 dropdown hassub">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Stores">Stores</a>
                    <i class="fa fa-angle-down"></i>
                    <ul class="menu-level2 dropdown-menu" style="display: none;">
                        <li class="level2"><a href="home_v1.html" title="Store 01">Store 01</a></li>
                        <li class="level2"><a href="home_v2.html" title="Store 02">Store 02</a></li>
                        <li class="level2"><a href="home_v3.html" title="Store 03">Store 03</a></li>
                        <li class="level2"><a href="home_v4.html" title="Store 02">Store 04</a></li>
                        <li class="level2"><a href="home_v5.html" title="Store 03">Store 05</a></li>
                    </ul>
                </li>
                <li class="level-1"><a href="#" title="Projects">Projects</a></li>
                <li class="level-1"><a href="#" title="collection">collection</a></li>
                <li class="level-1"><a href="#" title="Blog">Blog</a></li>
                <li class="level-1"><a href="#" title="about us">about us</a></li>
            </ul>
        </nav>                    
    </div>

    <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="cart dropdown">
            <a class="icon-cart" href="#" title="Cart">
                <i class="fa fa-shopping-cart"></i>
                <span class="cart-count">02</span>
            </a>
            <div class="cart-list dropdown-menu">
                <ul class="list">
                    <li class="images">
                        <a href="#" title="" class="cart-product-image"><img src="assets/images/Futurelife-product-cart1.jpg" alt="Product"></a>
                        <div class="text">
                            <p class="product-name">Smart TV Ultra HD 40 inch</p>
                            <p class="product-price">$ 650.99</p>
                        </div>
                    </li> 
                    <li class="images">
                        <a href="#" title="" class="cart-product-image"><img src="assets/images/Futurelife-product-cart1.jpg" alt="Product"></a>
                        <div class="text">
                            <p class="product-name">Smart TV Ultra HD 40 inch</p>
                            <p class="product-price">$ 650.99</p>
                        </div>
                    </li>                                   
                </ul>
                <p class="total"><span>Total:</span> $1121.98</p>
                <a class="checkout" href="#" title="">Check out</a>
            </div>
        </div>
        <!-- End cart -->
        <div class="search dropdown">
            <i class="fa fa-search dropdown-toggle" data-toggle="dropdown"></i>
            <div class="search-form dropdown-menu">
                <form action="#" method="get">
                    <input type="text" autocomplete="off" placeholder="Enter Keywords To Search..." value="" class="ajax_autosuggest_input ac_input" name="s">
                    <button type="submit" class="icon-search">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </form>
            </div>
        </div>
        <!-- End search -->
    </div>                    
    </div>