:host ::ng-deep .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

:host ::ng-deep .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #28a745;
    background-color: #fff;
    border: 1px solid #dee2e6;
}